{
    "presets": [
      "@babel/env",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-dynamic-import",
      "dynamic-import-node-babel-7",
      [
        "module-resolver",
        {
          "root": ["./script/"],
          "alias": {
            "@": "./script",
            "@server/bin": "./script/bin",
            "@server/controllers": "./script/controllers",
            "@server/middlewares": "./script/middlewares/server",
            "@server/public": "./script/public",
            "@server/routes": "./script/routes",
            "@server/services": "./script/services/server",
            "@server/socket": "./script/socket/server",
            "@models": "./script/models",
            "@views": "./script/views",
            "@utils": "./script/utils",
          }
        }
      ]
    ]
  }